.container {
    margin: 20px auto;
    width: 70%;
}

.column-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.column-item {
    display: flex;
    align-items: center;
}

.image-container {
    margin-right: 10px;
}

.image-container img {
    width: 100px;
    height: auto;
}

.text-content {
    flex-grow: 1;
    margin-right: 20px; /* Adjusted margin for better alignment */
}

.price {
    font-weight: bold;
    margin-right: 10px;
}

.status-container {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

.status {
    font-weight: bold;
    color: #333;
}

.buy {
    display: flex; /* Updated to display flex for better alignment */
    justify-content: flex-end;
}

.btn {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn + .btn {
    margin-left: 10px;
}
.btn-coral {
    background-color: coral;
    border-color: coral;
}
.btn-coral:hover {
    background-color: #ff6f61; /* Màu hover */
    border-color: #ff6f61; /* Màu border khi hover */
}

#popchat {
    position: fixed;
    background-color: #01a14b;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
    min-width: 150px;
    max-width: 300px;
    color: white;
    padding: 8px 16px;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 9999;
  }

  #popchat i {
    margin-right: 8px;
  }

  #popchat.active {
    opacity: 1;
  }
  .card:hover {
    transform: none;
}

.bg-image {
    background-color: #e1e1e1;
    border: 1px solid #e1e1e1;
}

.rounded-5 {
    border-radius: 0.5rem;
}