body {
    background: #f5f5f5;
    margin-top: 20px;
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background: rgba(0, 0, 0, 0);
    color: #4e5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #01a14b;
    background: transparent;
    color: #01a14b;
}

.btn {
    background-color: #01a14b;
    border: #01a14b;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #01a14b;
    border: #01a14b;
    opacity: 0.7;
}

.list-group-item.active {
    z-index: 2;
    color: #f5f5f5;
    background-color: #01a14b;
    border-color: #01a14b;
}

.text-light {
    color: #babbbc !important;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.card:hover {
    transform: none;
}

.card-body p.form-control {
    border: none;
}

label {
    color: #808080;
}

#popchat {
    position: fixed;
    background-color: #01a14b;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
    min-width: 150px;
    max-width: 300px;
    color: white;
    padding: 8px 16px;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 9999;
}

#popchat i {
    margin-right: 8px;
}

#popchat.active {
    opacity: 1;
}
