<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
				initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/AdminDashBoard.css}">
</head>

<body>

    <header th:insert="~{admin/header :: header}"></header>

    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <div class="nav-option option1">
                        <p style="font-size: x-large;font-family: Arial, Helvetica, sans-serif;">Book Manage</p>
                    </div>

                    <form th:action="@{/admin/userManage}">
                        <button type="submit" style="border: none;">
                            <div class="nav-option option2">
                                <p style="font-size: x-large;font-family: Arial, Helvetica, sans-serif;">User Manage</p>
                            </div>
                        </button>
                    </form>


                    <form th:action="@{/user/logout}">
                        <button type="submit" class="nav-option logout" style="border: none;">
                            <p style="font-size: x-large;font-family: Arial, Helvetica, sans-serif;">Logout</p>
                        </button>
                    </form>
                </div>
            </nav>
        </div>
        <div class="main">

            <div class="box-container">

                <div class="box box1">
                    <div class="text">
                        <p class="h2 topic-heading" th:text="${totalBook}"></p>
                        <p class="h2 topic">Số lượng sách</p>
                    </div>
                    <i class="fa-solid fa-book"></i>
                </div>

                <div class="box box2">
                    <div class="text">
                        <p class="h2 topic-heading" th:text="${totalSaledBook}"></p>
                        <p class="h2 topic">Số lượng bán</p>
                    </div>
                    <i class="fa-brands fa-sellsy"></i>
                </div>

                <div class="box box3">
                    <div class="text">
                        <p class="h2 topic-heading" th:text="${totalComment}"></p>
                        <p class="h2 topic">Số lượt comment</p>
                    </div>
                    <i class="fa-solid fa-comment"></i>
                </div>

                <div class="box box4">
                    <div class="text">
                        <p class="h2 topic-heading" th:text="${totalBill}"></p>
                        <p class="h2 topic">Số lượt đặt hàng</p>
                    </div>
                    <i class="fa-solid fa-money-bills"></i>
                </div>
            </div>

            <div class="report-container">
                <div style="display: inline-flex;height: 100%;width: 100%;">
                    <canvas id="myChart"></canvas>

                    <script th:inline="javascript">
                        let bookTypeChart = /*[[${bookTypeChart}]]*/ {};
                        let labels = Object.keys(bookTypeChart);
                        let data = Object.values(bookTypeChart);
                        console.table(labels); console.table(data);

                        const ctx = document.getElementById('myChart');
                        new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Số lượng sách bán được',
                                    data: data,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'Biểu đồ doanh thu của sách theo thể loại',
                                        position: 'bottom',
                                        font: {
                                            size: 30
                                        }
                                    }
                                },
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    </script>
                </div>
                <br>
                <hr>
                <div class="report-header">
                    <h1 class="recent-Articles">Sản phẩm trong cửa hàng</h1>
                    <div class="search-container">
                        <input type="text" id="search-input" placeholder="Search">
                        <button class="searchbtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    <form th:action="@{/admin/toAddBook}" method="get">
                        <button class="view">Add Book</button>
                    </form>
                </div>
                <div class="report-body">
                    <table class="report-table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên</th>
                                <th>Thể loại</th>
                                <th>Tác giả</th>
                                <th>Đơn giá</th>
                                <th>SL còn</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="book-table-body">
                            <tr th:each="book , status : ${bookList}">
                                <td th:text="${status.index + 1}"></td>
                                <td th:text="${book.name}"></td>
                                <td th:text="${book.bookType.name}"></td>
                                <td th:text="${book.author}"></td>
                                <td th:text="${book.price} + ' đ'"></td>
                                <td th:text="${book.SL}"></td>
                                <td>
                                    <form th:action="@{/admin/toUpdate/__${book.id}__}" method="get">
                                        <button class="action-btn edit-btn" style="color: black;"
                                            onmouseover="this.style.color='white'; this.style.textDecoration='underline'"
                                            onmouseout="this.style.color='black'; this.style.textDecoration='none'">Sửa</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </div>

    <script th:src="@{/js/AdminDashBoard.js}"></script>

</body>

</html>