<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/AdminDashBoard.css}">
</head>

<body>

    <header th:insert="~{admin/header :: header}"></header>

    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <form th:action="@{/admin/}" method="get">
                        <button type="submit" style="border: none;">
                            <div class="nav-option option2">
                                <p style="font-size: x-large;font-family: Arial, Helvetica, sans-serif;">Book Manage</p>
                            </div>
                        </button>

                    </form>

                    <div class="nav-option option1">
                        <p style="font-size: x-large;font-family: Arial, Helvetica, sans-serif;">User Manage</p>
                    </div>

                    <form th:action="@{/user/logout}">
                        <button type="submit" class="nav-option logout" style="border: none;">
                            <p style="font-size: x-large;font-family: Arial, Helvetica, sans-serif;">Logout</p>
                        </button>
                    </form>
                </div>
            </nav>
        </div>
        <div class="main">

            <div class="box-container">

                <div class="box box1">
                    <div class="text">
                        <p class="h2 topic-heading" th:text="${totalUserAccount}"></p>
                        <p class="h2 topic">Số lượng tài khoản User</p>
                    </div>
                    <i class="fa-solid fa-user"></i>
                </div>

                <div class="box box2">
                    <div class="text">
                        <p class="h2 topic-heading" th:text="${totalAdminAccount}"></p>
                        <p class="h2 topic">Số lượng tài khoản Admin</p>
                    </div>
                    <i class="fa-solid fa-user-tie"></i>
                </div>

                <div class="box box3">
                    <div class="text">
                        <p class="h2 topic-heading" th:text="${totalComment}"></p>
                        <p class="h2 topic">Tài khoản mua hàng trong tháng</p>
                    </div>
                    <i class="fa-regular fa-calendar-days"></i>
                </div>

                <div class="box box4">
                    <div class="text">
                        <p class="h2 topic-heading" th:text="${totalBill}"></p>
                        <p class="h2 topic">Tài khoản mua hàng trong năm</p>
                    </div>
                    <i class="fa-solid fa-calendar"></i>
                </div>

            </div>
        </div>
    </div>

</body>

</html>