<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reUse.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/BillView.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Rating.css}">
</head>

<body>
    <header th:insert="~{header :: header}"></header>

    <br>
    <div class="small-background"
        style="background-image: url('/images/background1.jpg');padding-top: 20px;
        background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;height: 300px;">
        <div class="row" style="padding-top: 100px;">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p class="h1"
                    style="color: white;text-align: left;font-family: Arial, Helvetica, sans-serif;font-size: xx-large;">
                    Đơn đã đặt
                </p>
                <div style="display: inline-flex;">
                    <div th:if="${session.userEmail != null}">
                        <a th:href="@{/user/}"
                            style=" font-family: 'Courier New', Courier, monospace; text-decoration: none; color: white;font-size: larger;display: inline;"
                            onmouseover="this.style.textDecoration='underline'"
                            onmouseout="this.style.color='white'; this.style.textDecoration='none'">Trang chủ</a>
                    </div>
                    <div th:unless="${session.userEmail != null}">
                        <a th:href="@{/}"
                            style=" font-family: 'Courier New', Courier, monospace; text-decoration: none; color: white;font-size: larger;display: inline;"
                            onmouseover="this.style.textDecoration='underline'"
                            onmouseout="this.style.color='white'; this.style.textDecoration='none'">Trang chủ</a>
                        </a>
                    </div>
                </div>
                <p style="color: white;display: inline;font-family: Arial, Helvetica, sans-serif;font-size: large;">
                    / Đơn đã đặt
                </p>
            </div>
        </div>

    </div>

    <div th:if="${bills != null}">
        <div th:each="bill : ${bills}">
            <div class="row" style="padding-top: 20px;" th:id="'bills'+${bill.key.id}">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="container mb-3 mt-3">
                                <div class="row d-flex align-items-baseline">
                                    <div class="col-xl-9">
                                        <p style="color: #7e8d9f;font-size: 20px;">Invoice &gt;&gt; <strong
                                                th:text="'ID: #' + ${bill.key.id}" th:id="${bill.key.id}"></strong></p>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row" style="padding-top: 40px;">
                                        <div class="col-xl-8">
                                            <ul class="list-unstyled">
                                                <li class="text-muted" th:text="${bill.key.user.address}"></li>
                                                <i class="fas fa-phone"></i>
                                                <li class="text-muted" style="display: inline-flex;"
                                                    th:text="${bill.key.user.sdt}"></li>
                                            </ul>
                                        </div>
                                        <div class="col-xl-4">
                                            <p class="text-muted">Invoice</p>
                                            <ul class="list-unstyled">
                                                <li class="text-muted">
                                                    <i class="fas fa-circle" style="color:#8f8061 ;"></i>
                                                    <span class="fw-bold">ID:</span>
                                                    <p th:text="'#' + ${bill.key.id}" style="display: inline-flex;"></p>
                                                </li>
                                                <li class="text-muted">
                                                    <i class="fas fa-circle" style="color:#8f8061 ;"></i>
                                                    <span class="fw-bold">Creation Date:
                                                    </span>
                                                    <p th:text="${bill.key.date}" style="display: inline-flex;"></p>
                                                </li>
                                                <li class="text-muted">
                                                    <i class="fas fa-circle" style="color:#8f8061;"></i>
                                                    <span class="me-1 fw-bold">Status:</span>
                                                    <span class="badge bg-warning text-black fw-bold"
                                                        th:text="${bill.key.status}"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div th:each="billProBox : ${bill.value}">
                                        <div class="row my-2 mx-1 justify-content-center"
                                            th:id="'billProBox'+${billProBox.key.id}">
                                            <div class="col-md-2 mb-4 mb-md-0">
                                                <div class="bg-image rounded-5 mb-4 overflow-hidden d-block position-relative"
                                                    style="width: 90px; height: 90px;">
                                                    <img th:src="@{'/images/'+${billProBox.key.book.img}}"
                                                        alt="Book Image"
                                                        class="img-fluid position-absolute top-0 start-0 w-100 h-100"
                                                        style="object-fit: cover;">
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4 mb-md-0">
                                                <a th:href="@{/getBookById/__${billProBox.key.book.id}__}"
                                                    style="cursor: pointer;">
                                                    <p class="fw-bold" th:text="${billProBox.key.book.name}">

                                                    </p>
                                                </a>
                                                <p class="mb-1">
                                                    <span class="text-muted me-2">Thể loại:</span>
                                                    <span th:text="${billProBox.key.book.bookType.name}"></span>
                                                </p>
                                                <p>
                                                    <span class="text-muted me-2">Số lượng:</span><span
                                                        th:text="${billProBox.key.SL}"></span>
                                                </p>
                                            </div>
                                            <div class="col-md-2 mb-4 mb-md-0">
                                                <br>
                                                <h5 class="mb-2"><span class="align-middle"
                                                        th:id="${bill.key.id} +'price' + ${billProBox.key.id}"
                                                        th:text="${billProBox.value}+' đ'"></span></h5>
                                            </div>
                                            <div class="col-md-1 d-flex align-items-center justify-content-center">
                                                <button
                                                    class="btn btn-primary btn-sm rounded-pill px-4 py-2 position-relative"
                                                    style="background-color: coral;" data-bs-toggle="modal"
                                                    th:data-bs-target="|#ratingModal${billProBox.key.id}|">
                                                    <i class="fas fa-star me-1"></i>Đánh giá
                                                </button>
                                                <div class="modal fade" th:id="|ratingModal${billProBox.key.id}|">
                                                    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable"
                                                        role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <p th:text="${billProBox.key.book.id}"></p>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="stars">
                                                                            <input class="star star-5" id="star-5"
                                                                                type="radio" name="star" />
                                                                            <label class="star star-5"
                                                                                for="star-5"></label>
                                                                            <input class="star star-4" id="star-4"
                                                                                type="radio" name="star" />
                                                                            <label class="star star-4"
                                                                                for="star-4"></label>
                                                                            <input class="star star-3" id="star-3"
                                                                                type="radio" name="star" />
                                                                            <label class="star star-3"
                                                                                for="star-3"></label>
                                                                            <input class="star star-2" id="star-2"
                                                                                type="radio" name="star" />
                                                                            <label class="star star-2"
                                                                                for="star-2"></label>
                                                                            <input class="star star-1" id="star-1"
                                                                                type="radio" name="star" />
                                                                            <label class="star star-1"
                                                                                for="star-1"></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <p
                                                                    style="color: #808080;font-size: small;
                                                                    font-weight: lighter;font-family: Arial, Helvetica, sans-serif;">
                                                                    Chạm vào một Ngôi sao để xếp hạng
                                                                </p>
                                                                <div class="row" style="padding-top: 20px;">
                                                                    <div class="col-xl-8">
                                                                        <hr>
                                                                        <input type="text"
                                                                            placeholder="Nhân xét(Tùy chọn)"
                                                                            th:id="comment">
                                                                    </div>
                                                                    <div class="col">
                                                                        <button class="btn btn-success"
                                                                         th:onclick="'ratingBook(' + ${billProBox.key.book.id} + ')'">
                                                                            Gửi đánh giá
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-7"></div>
                                        <div class="col-sm-4">
                                            <div class="d-flex flex-column align-items-center">
                                                <span class="text-black me-3" th:id="'total' + ${bill.key.id}"
                                                    style="display: block;">Total Amount</span>
                                                <span style="font-size: 25px;"></span>
                                                <div class="mt-3" th:if="${bill.key.status} == 'Chưa thanh toán'">
                                                    <form th:action="@{/paymentOldBill/__${bill.key.id}__}">
                                                        <button type="button" class="btn btn-success btn-coral">Thanh
                                                            toán</button>
                                                    </form>
                                                    <button type="button" class="btn btn-danger btn-coral">Huỷ
                                                        đơn</button>
                                                </div>
                                                <div class="mt-3" th:if="${bill.key.status} == 'Đã thanh toán'"
                                                    style="width: fit-content;">
                                                    <button type="button" class="btn btn-primary btn-coral">Mua
                                                        lại</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="popchat">
        <i class="fa-solid fa-square-check" style="background-color: #01a14b;"></i>
        Đánh giá thành công
    </div>

    <footer th:insert="~{footer :: footer}"></footer>
    <script th:src="@{/js/reUse.js}"></script>
    <script th:src="@{/js/Search.js}"></script>
    <script th:src="@{/js/BillView.js}"></script>

</body>

</html>