<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div th:fragment="header">
        <header>
            <div class="container-fluid" style="background-color: #01a14b; height: 20%;">

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-7 ">

                        <a href="#"
                            style=" font-family: 'Courier New', Courier, monospace; text-decoration: none; color: black;"
                            onmouseover="this.style.color='white'; this.style.textDecoration='underline'"
                            onmouseout="this.style.color='black'; this.style.textDecoration='none'">
                            GROUP BOOKSALE
                        </a>

                        <a href="#"
                            style=" font-family: 'Courier New', Courier, monospace ; text-decoration: none; color: white; "
                            onmouseover=" this.style.textDecoration='underline'"
                            onmouseout=" this.style.textDecoration='none'">
                            |ONLINE BOOKSALE</a>
                    </div>
                    <div class="col-sm-3" style="text-align: right;">
                        <a href="#"
                            style="font-family: 'Courier New', Courier, monospace; text-decoration: none; color: white; font-size: small;"
                            onmouseover=" this.style.textDecoration='underline'"
                            onmouseout=" this.style.textDecoration='none'"><i class="fa-solid fa-phone"></i>
                            HotLine: 0901162097
                        </a>
                    </div>
                    <div class="col-sm-1"></div>


                </div>
                <div style="text-align: center;">
                    <hr style="width: 83%; height: 1px; border: none; background-color: white; margin: 0 auto;">
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-1 "></div>
                    <div class="col-sm-7 ">
                        <div class="row">
                            <div class="col-sm-6" style="text-align: left;">
                                <a th:href="@{/}"
                                    style="text-decoration: none; color: white;font-family: 'Courier New', Courier, monospace; font-size: xx-large;letter-spacing: 4px;">
                                    <i class="fa-solid fa-book-open"></i>ONLINE BOOKSALE </a>
                            </div>
                            <div class=" col-sm-6 " style="margin-top:10px ;">
                                <div class="row" style="text-align: left;">


                                    <div class="col-sm-5 dropdown">
                                        <a style="text-decoration: none; color: white; font-size: small;"
                                            onmouseover=" this.style.textDecoration='underline'"
                                            onmouseout=" this.style.textDecoration='none'">
                                            <i class="fa-solid fa-list"></i>DANH MỤC SẢN PHẨM
                                        </a>
                                        <div class="dropdown-content">
                                            <a th:href="@{/getAllBook}">
                                                <p
                                                    style="font-family:Arial, Helvetica, sans-serif, serif;display: inline-flex;color: #01a14b;font-weight: lighter;">
                                                    Tất cả sản phẩm</p>
                                            </a>
                                            <div th:each="type : ${bookTypeList}">
                                                <a th:href="@{/book/getBookByType/__${type.id}__}">
                                                    <i class="fa-solid fa-book-open-reader"></i>
                                                    <p th:text="'  '+${type.name}"
                                                        style="font-family: Arial, Helvetica, sans-serif, serif;display: inline-flex;display: inline-flex;">
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="" style="text-decoration: none; color: white; font-size: small;"
                                            onmouseover=" this.style.textDecoration='underline'"
                                            onmouseout=" this.style.textDecoration='none'">GIỚI
                                            THIỆU</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a th:href="@{/client/contact}"
                                            style="text-decoration: none; color: white; font-size: small;"
                                            onmouseover=" this.style.textDecoration='underline'"
                                            onmouseout=" this.style.textDecoration='none'">LIÊN HỆ</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-top:10px;">
                        <div class="row">
                            <div class="col">
                                <div th:if="${session.userEmail==null}">
                                    <a th:href="@{/user/}"
                                        style="text-decoration: none; color: white; font-size: small;"
                                        onmouseover=" this.style.textDecoration='underline'"
                                        onmouseout=" this.style.textDecoration='none'"> <i
                                            class="fa-solid fa-user"></i>LOGIN/SIGNUP</a>
                                </div>
                                <div th:unless="${session.userEmail==null}">
                                    <div class="dropdown">
                                        <a style="text-decoration: none; color: white;cursor: pointer;
                                            overflow: hidden;text-overflow: ellipsis;max-width: 110px;">
                                            <i class="fa-solid fa-user"></i>
                                            <p th:text="'  '+${session.userName}" style="display: inline-flex;font-family:Arial, Helvetica, sans-serif;
                                                    font-weight: lighter;">
                                            </p>
                                        </a>
                                        <div class="dropdown-content">
                                            <div>
                                                <a th:href="@{/user/userInfo}">
                                                    <p
                                                        style="font-family: Arial, Helvetica, sans-serif, serif;display: inline-flex;">
                                                        Tài khoản của tôi</p>
                                                </a>
                                            </div>
                                            <div>
                                                <a th:href="@{/user/logout}">
                                                    <p
                                                        style="font-family: Arial, Helvetica, sans-serif, serif;display: inline-flex;">
                                                        Đăng xuất</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div th:if="${session.userEmail!= null}">
                                    <a th:href="@{/cart/viewCart}"
                                        style="text-decoration: none; color: white; font-size: small;"
                                        onmouseover=" this.style.textDecoration='underline'"
                                        onmouseout=" this.style.textDecoration='none'" id="panier"
                                        href="javascript:void(0)"><i class="fa-solid fa-cart-shopping"></i>GIỎ HÀNG</a>
                                </div>
                                <div th:unless="${session.userEmail!= null}">
                                    <a th:href="@{/user/}"
                                        style="text-decoration: none; color: white; font-size: small;"
                                        onmouseover=" this.style.textDecoration='underline'"
                                        onmouseout=" this.style.textDecoration='none'"><i
                                            class="fa-solid fa-cart-shopping"></i>GIỎ HÀNG</a>
                                </div>
                            </div>
                            <div class="col">
                                <a onclick="showSearchBar()"
                                    style="text-decoration: none; color: white; font-size: small;cursor: pointer;"><i
                                        class="fa-solid fa-magnifying-glass"></i></a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col" id="search-bar" style="display: none; border: none;">
                        <input type="search" placeholder="Nhập từ khóa tìm kiếm" style="width: 20%;height: 30px;"
                            oninput="handleInput()" onkeyup="handleSearch(event)" id="keyword">
                        <div id="suggestionBox"></div>
                        <button onclick="cancelBar()" style="color: black; background-color: white;" id="cancel-button">Cancel</button>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>

</html>