<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/SubmitCode.css}">
</head>

<body>
    <div id="emailForm" class="row" style="padding-top: 50px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-9">
            <p style="font-size: 200%; font-weight: bold;">QUÊN PASS</p>
            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                <label for="email">Email</label>
            </div>
            <div>
                <button type="button" class="btn btn-primary"
                    style="background-color: red; width: 20%; margin-left: 80%;"
                    onclick="checkEmail(document.getElementById('email').value)">Gửi mail để lấy lại Pass</button>
            </div>
        </div>
    </div>

    <div id="verifyForm" style="display: none;">
        <section class="container-fluid bg-body-tertiary d-block">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
                    <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
                        <div class="card-body p-5 text-center">
                            <h4>Verify</h4>
                            <p>Your code was sent to you via email</p>
                            <div class="otp-field mb-4">
                                <input type="number" />
                                <input type="number" disabled />
                                <input type="number" disabled />
                                <input type="number" disabled />
                                <input type="number" disabled />
                            </div>
                            <button class="btn btn-primary mb-3" id="submitBtn" type="btn" onclick="showRefreshPass()">
                                Verify
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="refreshPassForm" class="container mt-5" style="display: none;">
        <h2 class="mb-4">Đặt lại mật khẩu</h2>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu mới"
                name="newPassword">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="passwordAgain" placeholder="Nhập lại mật khẩu">
        </div>
        <button type="button" class="btn btn-primary" onclick="checkPassword()">Xác nhận</button>
    </div>


    <script th:src="@{/js/MissPassword.js}"></script>
</body>

</html>