<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reUse.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/OrderDetail.css}">

</head>


<body>
    <header th:insert="~{header :: header}"></header>
    <section class="h-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-header">
                            <p class="text-muted h5">Thanks for your Order, <span style="color: #80c9ff;"
                                    th:text="${session.userName}"></span>!</p>
                        </div>
                        <div class="card-body p-4">
                            <div>
                                <p class="lead fw-normal" style="color: #808080;">Biên lai</p>
                            </div>
                            <div th:each="billProBox : ${billProBoxs}">
                                <div class="card shadow-0 border mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img th:src="@{'/images/'+${billProBox.key.book.img}}"
                                                    class="img-fluid">
                                            </div>
                                            <div class="col-md-2">
                                                <p class="text-muted mb-0"
                                                    th:text="${billProBox.key.book.name}">
                                                </p>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="text-muted mb-0 small"
                                                    th:text="${billProBox.key.book.author}"></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="text-muted mb-0 small"
                                                    th:text="${billProBox.key.book.bookType.name}"></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="text-muted mb-0 small"
                                                    th:text="'SL: '+${billProBox.key.SL}"></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="text-muted mb-0 small" th:text="${billProBox.value}+ ' đ' ">
                                                </p>
                                            </div>
                                        </div>
                                        <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                    </div>
                                </div>
                            </div>


                            <div class="orderDetail">
                                <p class="fw-bold mb-0">Order Details</p>
                            </div>

                            <div class="orderDetail">
                                <p class="text-muted mb-0" th:text=" 'Địa chỉ giao hàng: ' + ${user.address}"></p>
                            </div>

                            <div class="orderDetail">
                                <p class="text-muted mb-0" th:text=" 'Thời gian lập hóa đơn: ' + ${bill.date}"></p>
                            </div>

                        </div>
                        <div class="card-footer border-0 px-4 py-5"
                            style="background-color: #808080; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
                            border: 0; padding-left: 1rem; padding-right: 1rem; padding-top: 1.25rem; padding-bottom: 1.25rem;">
                            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
                                Total paid: <span style="font-size: 1.5rem;margin-bottom: 0;margin-left: 0.5rem;"
                                    th:text="${total} + ' đ' "></span></h5>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <footer th:insert="~{footer :: footer}"></footer>

    <script th:src="@{/js/reUse.js}"></script>
</body>

</html>