<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>



<body>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form th:action="@{/user/register}" th:method="post" th:object="${user}" onsubmit="return validateForm()">

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="email" id="email" class="form-control form-control-lg" th:field="*{email}" />
                  <label class="form-label" for="email">Nhập Email</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="username" class="form-control form-control-lg" th:field="*{username}" />
                  <label class="form-label" for="username">Nhập tên</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="tel" id="sdt" class="form-control form-control-lg" th:field="*{sdt}" />
                  <label class="form-label" for="sdt">Nhập số điện thoại</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="password" class="form-control form-control-lg" th:field="*{password}" />
                  <label class="form-label" for="password">Nhập mật khẩu</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="passAgain" class="form-control form-control-lg" name="passAgain" />
                  <label class="form-label" for="passAgain">Nhập lại mật khẩu</label>
                </div>
                <script th:inline="javascript">
                  function validateForm() {
                    var inputs = document.getElementsByTagName("input"); // Lấy tất cả các input trong form
                    for (var i = 0; i < inputs.length; i++) {
                      if (inputs[i].value.trim() === "") { // Kiểm tra xem mỗi input có giá trị rỗng không
                        alert("Vui lòng điền đầy đủ thông tin.");
                        return false; // Ngăn chặn form được gửi đi
                      }
                    }
                    return true; // Cho phép form được gửi đi nếu tất cả các trường được điền đầy đủ
                  }
                  
                  

                    var mess = /*[[${messages}]]*/ {};

                // Nếu có lỗi, hiển thị chúng
                if (mess.trim() !== '') {
                    var errorFields = mess.split(' ');
                    errorFields.forEach(function (element) {
                        console.log(element);
                        if (element.includes("email") ) {
                          document.getElementById("email").style.borderColor = "red";
                        }
                        if (element.includes("duplicate")) {
                          document.getElementById("email").style.borderColor = "red";
                          alert("Email đã tồn tại")
                        }
                        if (element.includes("sdt")) {
                          document.getElementById("sdt").style.borderColor = "red";
                        }
                        if (element.includes("errorpassword")) {
                          document.getElementById("passAgain").style.borderColor = "red";
                        }
                        if (element.includes("password")) {
                          document.getElementById("password").style.borderColor = "red";
                        }
                    });
                } else {
                    // Nếu không có lỗi, gửi form đi
                    event.target.submit();
                }
                  
                </script>
                <div class="d-flex justify-content-center">
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Đã có tài khoản? <a th:href="@{/user/}"
                    class="fw-bold text-body"><u>Đăng nhập</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>